@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.create {
    @include m.bg-with-radius($yellow-100, $spacing-8);

    &__title {
        @include m.text-style($font-size-8, $font-medium, start, 1.75rem, $black, $letter-spacing-xxl);
        margin-bottom: $spacing-6;

        &--highlight {
            color: $purple-500;
        }

    }

    &__img {
        @include m.img-inline(5.647rem, 11.875rem);
    }
}

@media (min-width: $breakpoint-tablet) {
    .create {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            font-size: $font-size-9;
            line-height: $line-height-xl;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .create__title {
        font-size: $font-size-10;
    }
}