@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.grow {
    @include m.bg-with-radius($purple-500);
    padding: $spacing-6 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__followers {
        @include m.img-inline(12.514rem, 14.23rem);
    }

    &__title {
        @include m.text-style($font-size-8, $font-medium, center, 1.75rem, $white, $letter-spacing-xxl);
        margin-top: $spacing-10;
        width: 16.063rem;
    }
}