@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.maintain {
    @include m.bg-with-radius($yellow-500);
    position: relative;
    padding: $spacing-4;
    height: 13.516rem;
    overflow: hidden;

    &__title {
        @include m.text-style($font-size-6-2, $font-medium, start, 1.5rem, $black, $letter-spacing-xxl);
    }

    &__schedule {
        position: absolute;
        bottom: calc(-1 * 1.313rem);
        left: $spacing-4;
        display: inline-block;
        height: 9.813rem;
        width: 13rem;
    }
}