@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.manage {
    padding: $spacing-4;
    @include m.bg-with-radius($white);

    &__accounts {
        display: inline-block;
        height: 66px;
        width: 316px;
    }

    &__title {
        @include m.letter-spacing($font-size-6-2, $letter-spacing-xxl);
        color: $black;
        line-height: 1.5rem;
        font-size: $font-size-6-2;
        font-weight: $font-medium;
    }
}