@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.review {
    @include m.bg-with-radius($purple-500);
    padding: $spacing-10 $spacing-8;
    text-align: center;

    &__title {
        @include m.text-style($font-size-11, $font-medium, start, 2.625rem, $white, $letter-spacing-xl);

        &--highlight {
            color: $yellow-500;
        }
    }

    &__stars {
        display: inline-block;
        margin: $spacing-6 auto $spacing-2;
        height: 2rem;
        width: 12rem;
    }

    &__info {
        @include m.text-style($font-size-4-2, $font-regular, start, 1.25rem, $white);
    }
}