@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.schedule {
    @include m.bg-with-radius($purple-100);
    padding: $spacing-8 $spacing-4;

    &__title {
        @include m.text-style($font-size-6-2, $font-medium,center, 1.5rem, $black, $letter-spacing-xxl);
    }

    &__img {
        @include m.img-inline();
        margin: $spacing-6 0;
    }

    &__info {
        @include m.text-style($font-size-4-2, $font-regular,center, 1.25rem, $black);
        width: 17.438rem;
        margin: 0 auto;
    }
}