@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.schedule {
    @include m.bg-with-radius($purple-100);
    padding: $spacing-8 $spacing-4;

    &__title {
        @include m.letter-spacing($font-size-6-2, $letter-spacing-xxl);
        line-height: 1.5rem;
        font-size: $font-size-6-2;
        font-weight: $font-medium;
        color: $black;
        text-align: center;
    }

    &__img {
        display: inline-block;
        margin: $spacing-6 0;
    }

    &__info {
        width: 17.438rem;
        margin: 0 auto;
        line-height: 1.25rem;
        color: $black;
        font-size: $font-size-4-2;
        text-align: center;
    }
}