// Colors
$purple-100: hsl(254, 88%, 90%);
$purple-500: hsl(256, 67%, 59%);
$yellow-100: hsl(31, 66%, 93%);
$yellow-500: hsl(39, 100%, 71%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 7%);
$gray-100: hsl(300, 5%, 96%);

// Font Sizes
$font-size-xxl: 62px;
$font-size-xl: 40px;
$font-size-lg: 32px;
$font-size-md: 18px;

// Line Heights
$line-height-xxl: 93.5%;
$line-height-xl: 90%;
$line-height-lg: 87.5%;
$line-height-md: 111%;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;

// Letter Spacing
$letter-spacing-lg: -2px;
$letter-spacing-xl: -3px;

// Spacing
$spacing-2: 8px;
$spacing-4: 16px;
$spacing-6: 24px;
$spacing-8: 32px;
$spacing-10: 40px;